.adiv{
    background-color: blue;
}
.bdiv{
    background-color: rgb(130, 130, 143);
}
.cdiv{
    background-color: rgb(211, 132, 13);
}
.ddiv{
    background-color: rgb(12, 255, 142);
}
.ediv{
    background-color: rgb(255, 50, 159);
}
.fdiv{
    background-color: rgb(255, 23, 23);
}
.gdiv{
    background-color: rgb(255, 16, 92);
}